fastapi
uvicorn[standard]
django
djangorestframework
python-dotenv
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
torch
transformers
langchain-google-genai